default:
  initial_model: "http::http://localhost:8001"
  init_model_path: "/root/codespace/hf_resources/Qwen2.5-7B-Instruct"
  
  rounds: 5
  questions_per_round: 1000
  sampling_n: 16

  use_staggered_training: true 

  replay_pool_size: 500
  
  kto_replay_ratios:
    solver: 0.7
    refiner: 0.3
    generator: 0.0

  kto_weights:
    generator: 1.0
    solver: 1.0
    refiner: 1.0

  llama_factory_dir: "LLaMA-Factory"
  kto_gpus: "0,1"
  
  kto_train_template_yaml: "examples/train_lora/qwen2_5_lora_kto.yaml"
  kto_merge_template_yaml: "examples/merge_lora/qwen2_5_lora_kto.yaml"